@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

.kills{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.img{
    height:32px;
    margin-left: -5px;
    margin-right: -5px;
}