@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

.gold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 32px;
    position: absolute;
}

.ico{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 22px;
    position: relative;
    top: -2px;
}

.blueI{
    color:#4b5be5;
}

.redI{
    color:#e54b4b;
}

.blue{
    right:760px;
}
.red{
    left:760px;
}