@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

.team{
    display: flex;
    flex-direction: row;
    width:550px;
    height:80px;
    align-items: center;
    gap: 0px;
}

.name.blue{
    text-align: left;
    left:10px;
}

.name.red{
    text-align: right;
    right:10px;
}

.name{
    position: absolute;
    font-family: 'Climate Crisis', sans-serif;
    font-weight: 400;
    font-size: 46px;
    flex: 0 0 200px;
    overflow:auto;
}

