@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

.gold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.ico{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
}

.blue{
    color:#4b5be5;
}

.red{
    color:#e54b4b;
}