@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

.kills{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 48px;
    overflow: hidden;
    position: absolute;
}

.img{
    position: relative;
    height:40px;
    margin-left: -5px;
    margin-right: -5px;
    top:3px;
}

.blue{
    right:650px;
}

.red{
    left:650px;
}